.App {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#setShiftButton {
  width: 200px;
  font-size: 0.8rem;
}
.tableContainer {
  border: 1px solid gray;
  overflow: auto;
}

